body {
  font-family: "Raleway";
  width: 820px;
  height: 500px;
  position: relative;
  background: white;
}

svg {
  width: 100%;
  height: 100%;
}

path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.labelValue {
  font-size: 60%;
  opacity: .5;
}

.toolTip {
  font-family: "Raleway";
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

text {
  font: 12px sans-serif;
}

h1 {
  color: #000;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  color: grey;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: .75em;
  letter-spacing: .18em;
  margin: 0px;
  text-align: left;
}

#graph {
  width: 800px;
  height: 450px;
  background: #f4f4f4;
  padding-left: 20px;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 10;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #9faab7;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.2rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #f4f4f4;
  border: 1px solid black;
}
.option-input:checked {
  background: #666667;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

